{{#if editable}}
  {{#if editableText}}
  <a class='icon-edit action-edit'></a>
  {{/if}}
  {{#if addable}}
  <a class='icon-file action-new-node'></a>
  {{/if}}
  {{#if movable}}
      {{#unless isRoot}}
      <a class='icon-move action-move'></a>
      {{/unless}}
  {{/if}}
  {{#if deletable}}
  <a class='icon-trash action-trash'></a>
  {{/if}}  
{{/if}} 
