{{#if editable}}
  {{#if editableText}}
  <a class='icon-edit action-edit'></a>
  {{/if}}
  {{#if addable}}
  <a class='icon-file action-new-node'></a>
  {{/if}}
  <a class='icon-globe action-share'></a>
  {{#if movable}}
  <a class='icon-move action-move'></a>
  {{/if}}
  {{#if deletable}}
  <a class='icon-trash action-trash'></a>
  {{/if}}  
{{/if}} 
