<div id='{{id}}' class='node {{#if folded}}folded{{/if}} {{#if selected}}selected{{/if}}'>
  <div class='children'></div>
  
  <div class='inner-node'>
    <div class='content'>{{#if isHTML}}{{{nodeText}}}{{else}}{{nodeText}}{{/if}}</div>
    {{#if foldable}}
      <i class='icon-minus-sign action-fold'></i>
    {{/if}} 
  </div>
</div>