<div class='children'></div>
<div class='inner-node'>
  <div class='content {{#if isHtml}}isHtml{{/if}}'>{{#if isHtml}}{{{nodeText}}}{{else}}{{nodeText}}{{/if}}</div>
  {{#if foldable}}
    <div class='action-fold collapse-icon node-control'>
      <div class='action-fold-all minusIcon' style="width: 18px; height: 18px;"> </div>
    </div>
    <div class='action-fold expand-icon invisible node-control'>
      <div class='action-fold-all plusIconBG' style="width: 18px; height: 18px;"> </div>
    </div>
    <div class='action-fold loading-icon invisible'>
      <div class='loadingIcon' style="width: 18px; height: 18px;"></div>
    </div>
  {{/if}}
  
  {{#if lockable}}
  <div class='lock node-control {{#if locked}}visible{{/if}}'>
    <i class="icon-user"></i>
    <span class="lock-username">{{#if locked}}{{{lockedBy}}}{{/if}}</span>
  </div>
  {{/if}}
</div>