<div id='{{id}}' class='node {{#if folded}}folded{{/if}} {{#if selected}}selected{{/if}}'>
  <div class='children'></div>
  
  <div class='inner-node'>
    <div class='content'>{{#if isHTML}}{{{nodeText}}}{{else}}{{nodeText}}{{/if}}</div>
    <i class='icon-minus-sign action-fold'></i>
    {{#if editable}}
    <div class='controls'>
      <a class='icon-edit action-edit'></a>
      <a class='icon-file action-new-node'></a>
      <a class='icon-globe action-share'></a>
      <a class='icon-comment action-show'></a>
      <a class='icon-wrench action-change'></a>    
    </div>
    {{/if}}
  </div>
</div>