<div class='children'></div>
<div class='inner-node'>
  <div class='content {{#if isHTML}}isHTML{{/if}}'>{{#if isHTML}}{{{nodeText}}}{{else}}{{nodeText}}{{/if}}</div>
  {{#if foldable}}
    <div class='action-fold collapse-icon'>
      <img class='action-fold-all' src="/assets/images/icon_minus.svg">
    </div>
    <div class='action-fold expand-icon invisible'>
      <img class='action-fold-all' src="/assets/images/icon_plus.svg">
    </div>
  {{/if}}
  
  {{#if lockable}}
  <div class='lock'>
    <i class="icon-user"></i>
    <span class="lock-username"></span>
  </div>
  {{/if}}
</div>