<div class="overlay"></div>
<div class="edit-container">
    <input type="hidden" name="nodeId" class="node-id"/>
    <textarea name="nodeContent" class="node-content"></textarea>
    <div class="controls">
        <button type="button" class="btn btn-warning cancel" >cancel</button>
        <button type="button" class="btn save" >save</button>
    </div>
</div>