<a href="#">{{name}}</a>
<ul>
    <li class="users jstree-closed"><a href="#">Users</a>
        <ul class="users"></ul>
    </li>
    <li class="resources folder jstree-closed" id="{{idPrefix}}/"><a href="#">Files</a>
    </li>
</ul>
