<a href="#">{{name}}</a>
<ul>
    <li class="users"><a href="#">Users</a>
        <ul class="users"></ul>
    </li>
    <li class="folder resources"><a href="#">Resources</a>
        <ul class="resources"></ul>
    </li>
</ul>
