
<div id='zoom-container' style="width: 100px; height: 100px">
  <div id='{{id}}' class='node root {{#if folded}}folded{{/if}} {{#if selected}}selected{{/if}}'>
    <div class='rightChildren children'></div>
    <div class='leftChildren children'></div>
    
    <div class='inner-node'>
      <div class='content'>{{#if isHTML}}{{{nodeText}}}{{else}}{{nodeText}}{{/if}}</div>
    </div>
  </div>
</div>