<input type="hidden" class="map-id" value="{{mapId}}" />
<div class='rightChildren children'></div>
<div class='leftChildren children'></div>

<div class='inner-node'>
    <div class='action-fold collapse-icon left'>
      <img class='action-fold-left' src="/assets/images/icon_minus.svg">
    </div>
    <div class='action-fold expand-icon invisible left'>
      <img class='action-fold-left' src="/assets/images/icon_plus.svg">
    </div>
    <div class='action-fold collapse-icon right'>
      <img class='action-fold-right' src="/assets/images/icon_minus.svg">
    </div>
    <div class='action-fold expand-icon invisible right'>
      <img class='action-fold-right' src="/assets/images/icon_plus.svg">
    </div>    
  <div class='content'>{{#if isHtml}}{{{nodeText}}}{{else}}{{nodeText}}{{/if}}</div>
  
  {{#if lockable}}
  <div class='lock node-control'>
    <i class="icon-user"></i>
    <span class="lock-username"></span>
  </div>
  {{/if}}
</div>