<input type="hidden" class="map-id" value="{{mapId}}" />
<div class='rightChildren children'></div>
<div class='leftChildren children'></div>

<div class='inner-node'>
    <div class='action-fold collapse-icon left'>
      <div class='action-fold-left minusIcon' style="width: 18px; height: 18px;"> </div>
    </div>
    <div class='action-fold expand-icon invisible left'>
      <div class='action-fold-left plusIconBG' style="width: 18px; height: 18px;"> </div>
    </div>
    <div class='action-fold collapse-icon right'>
      <div class='action-fold-right minusIcon' style="width: 18px; height: 18px;"> </div>
    </div>
    <div class='action-fold expand-icon invisible right'>
      <div class='action-fold-right plusIconBG' style="width: 18px; height: 18px;"> </div>
    </div>    
  <div class='content'>{{#if isHtml}}{{{nodeText}}}{{else}}{{nodeText}}{{/if}}</div>
  
  {{#if lockable}}
  <div class='lock node-control'>
    <i class="icon-user"></i>
    <span class="lock-username"></span>
  </div>
  {{/if}}
</div>