
<div id='zoom-container' style="width: 100px; height: 100px">
  <div id='{{id}}' class='node root {{#if folded}}folded{{/if}} {{#if selected}}selected{{/if}}'>
    <div class='rightChildren children'></div>
    <div class='leftChildren children'></div>
    
    <div class='inner-node'>
      <div class='content'>
      {{#if isHTML}}
        {{{nodeText}}}
      {{else}}
        {{nodeText}}
      {{/if}}
    </div>
    {{#if editable}}
    <div class='controls'>
      {{#if editableText}}
      <a class='icon-edit action-edit'></a>
      {{/if}}
      {{#if editableText}}
      <a class='icon-file action-new-node'></a>
      {{/if}}
      <i class='icon-globe action-share'></i>
      <i class='icon-comment action-show'></i>
      <i class='icon-wrench action-change'></i> 
    </div>
    {{/if}}
  </div>
</div>