<form action="{{action}}" method="PUT" class="file-upload" enctype="multipart/form-data">
    <input type="hidden" name="_method" value="PUT" />
    <span class="btn btn-success fileinput-button">
        <i class="icon-plus icon-white"></i>
        <span>Add files...</span>
        <input class="file-to-upload" type="file" name="files" multiple>
    </span>
    <ul class="selected-filenames"></ul>
</form>