<div class="toolbar">
    <a title="Hide workspace" class="btn toggle-workspace-sidebar" data-original-title="Hide workspace"><i class="icon-chevron-left"></i></a>
    <a title="New project" class="btn add-project-toggle" data-original-title="New project" data-target="add-project"><i class="icon-plus"></i></a>
    <a title="Add user to project" class="btn" data-original-title="Add user to project"><i class="icon-user"></i></a>
</div>
<div id="workspace-tree">
    <ul class="projects">
    </ul>
</div>