<div class="toolbar">
    <a title="New project" class="btn add-project-toggle" data-original-title="New project" data-target="add-project"><i class="icon-plus"></i></a>

</div>
<div id="workspace-tree">
    <ul class="projects">
    </ul>
</div>