<div class="toolbar">
    <a title="New project" class="btn add-project-toggle" data-original-title="New project" data-target="add-project"><i class="icon-plus"></i> create project</a>

</div>
<div class="scroll-container">
    <div id="workspace-tree">
        <ul class="projects">
        </ul>
    </div>
</div>
<div class="alert fade in" id="multiplename-error" style=" min-width:150px; display:none; position:absolute;">
    <button type="button" class="close">×</button>
    <div style="position:relative;" class="message">Sorry, but this name is already in use.</div>
</div>
<input class="file-to-upload" id="file-to-upload" type="file" name="files" multiple>
<div class="toggle-workspace-sidebar link invisible"><i class="icon-double-angle-right"></i></div>