<div class="circle-button" id="zoom-in"><img style="width:25px;" src="/assets/images/plus.png"></div>
<div id="zoom-factor"></div>
<div class="circle-button" id="zoom-center"><img style="width:25px;" src="/assets/images/centroid.png"></div>
<div class="circle-button" id="zoom-out"><img style="width:25px;" src="/assets/images/minus.png"></div>
