@(credentialsForm: Form[models.frontend.Credentials])

@import helper._
@import helper.twitterBootstrap._
@implicitField = @{ FieldConstructor(views.html.bootstrap.form.horizontalFieldConstructor.f) }

@helper.form(action = routes.User.login, args = 'id -> "login-form") {
    @helper.inputText(credentialsForm("username"), '_label -> "username", '_showConstraints -> false)
    @helper.inputPassword(credentialsForm("password"),  '_label -> "password", '_showConstraints -> false)

    @credentialsForm.globalErrors.map { error =>
        <div class="alert alert-error"><p>@error.message</p></div>
    }

    <div class="form-actions" style="background-color: rgb(122,168,202);">
        <button type="submit" class="btn btn-primary" style="float: right; backbround-color: #487698">Sign in</button>
    </div>
}
