<div id="feedbackDialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="Feedback" aria-hidden="true">
	<form method="POST" class="form-horizontal feedback-form" action="@controllers.routes.Application.feedback().url">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
			<h3 id="myModalLabel">Feedback</h3>
		</div>
		<div class="modal-body">
          
          <div class="control-group">
            <label class="control-label" for="feedback-email">Email</label>
            <div class="controls">
                <input class="input-xlarge" type="text" name="feedbackEmail" id="feedback-email"  placeholder="yourname[at]example.com"/>
            </div>
          </div>
          
          <div class="control-group">
            <label class="control-label" for="feedback-subject">Subject</label>
            <div class="controls">
                <input class="input-xlarge" type="text" name="feedbackSubject" id="feedback-subject"  placeholder="Subject..."/>
            </div>
          </div>
          
          <div class="control-group">
            <label class="control-label" for="feedback-text">Text*</label>
            <div class="controls">
                <textarea class="input-xlarge" name="feedbackText" id="feedback-text"  placeholder="Message..." rows="5"></textarea>
            </div>
          </div>
	      <div>
	        You can also post your feedback in our <a href="http://www.docear.org/support/forums/">forum</a> and discuss it with other users.
	      </div>
        </div>
        <div class="alert alert-error hide">
            <div class="form-warning">
                <strong class="type"></strong> 
                <ul class="message"></ul>
            </div>
        </div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
			<button class="btn btn-primary" type="submit" >Submit</button>
		</div>
	</form>
</div>