@docear-blue: #073E6A;

.docear-test 
{
    background: @docear-blue; 
    backgound-color: #487698;
    color: white;
}

.navbar .brand.image 
{
    padding: 0px 20px;

}

.container 
{
    margin-top: 10px;
}

#mindmap-container 
{
    height: 600px;
    position: relative;
    overflow: hidden;
    cursor: move;
    border: 1px solid #333333;
}

#mindmap-container #zoom-control 
{
    width: 50px;
    border: 1px dashed #333333;
    background-color: #EBEBEB;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 1;
    cursor: default;
    text-align: center;
}

.loading-map-overlay
{
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 11;
  background-color: rgb(122,168,202);
  opacity:0.7;
  filter:alpha(opacity=70); /* For IE8 and earlier */
  cursor: progress;  
}

.circle-button 
{
    color: #EFEFEF;
    padding: 10px;
    margin: 2px;
    border: 1px solid #333333;
    font-weight: bold;
    font-size: 20px;
    background-color: #487698;
    border-radius: 30px 30px 30px 30px;
    cursor: pointer;
}

.mindmap-canvas
{
    position: relative;
    background-color: rgb(235,235,235);
}

.mini-node
{
    position: absolute;
    background: rgb(50,155,50); 
    z-index: 1;
}

.mini-nodes-container
{

}

.minimap-viewport
{
    background-color: rgb(72,118,152);
    border: 1px solid #333333;
    position: absolute;
    z-index: 10;
}

.minimap-viewport.highlight
{
    background-color:rgb(122,168,202);
    cursor: default;
}

.minimap-canvas
{
    position : absolute;
    background-color:rgb(190,190,190);
    border: 1px solid #333333;
    right: 1%;
    top: 1%;
    cursor: default;
}

.zoom-panel
{
    position: absolute;
    left    : 1%;
    top     : 1%;
}


.mindmap-canvas .node 
{
    position: absolute;
}

.mindmap-canvas .node .inner-node 
{
    padding: 10px;
    border: 1px solid #808080;
    border-radius: 30px ;
    display: inline-block;
    cursor: default;
    white-space: nowrap;
}

.mindmap-canvas .node .inner-node .action-fold,
.mindmap-canvas  .node .inner-node .controls 
{
    position: absolute;
    display: none;
}

.mindmap-canvas .node.right .inner-node .action-fold 
{
    right: -7px;
}

.mindmap-canvas .node.left .inner-node .action-fold 
{
    left: -7px;
}

.mindmap-canvas .node .inner-node:hover > .action-fold,
.mindmap-canvas .node.selected > .inner-node > .action-fold,
.mindmap-canvas .node .inner-node:hover > .controls,
.mindmap-canvas .node.selected > .inner-node > .controls 
{
    display: block;
}

.mindmap-canvas .node .children 
{
    position: absolute;
}

.mindmap-canvas .node.selected > .inner-node 
{
    border: 2px solid #487698;
}

.mindmap-canvas .node .inner-node .controls 
{
    display: none;
    position: absolute;
    height: 12px;
    bottom: -6px;
    width: 42px;
    cursor: pointer;
}

.mindmap-canvas .node .inner-node .controls textarea
{
    z-index: 3;
}

#mindmap-container.landing-page 
{
    height: 300px;
}



#help-menu 
{
    border: 1px dotted #CCCCCC;
}

#help-content h1 
{
    font-size:32px;
}

#help-content h2 
{
    font-size:24px;
}

#help-content h3
{
    font-size:16px;
}

/* IE 7 and 8 DropDown fix: https://github.com/twitter/bootstrap/issues/5102 */
.nav-collapse.collapse, ul.dropdown-menu 
{
    height: auto !important;
    overflow: visible !important;
    z-index: 1;
}
  
.overlay 
{
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: #000000;
    opacity:0.0;
    filter:alpha(opacity=0); /* For IE8 and earlier */
    cursor: default;
}

.edit-container 
{
    position: absolute;
    border-radius: 30px;
    background-color: #FFFFFF;
    border: 3px solid green;
    opacity:0.0;
    filter:alpha(opacity=0); /* For IE8 and earlier */
    width: 300px;
    height: 250px;
    padding: 10px;
}

.dummy-node-container 
{
    margin-top: 10px;
}

.edit-container .controls button 
{
    float: right;
}

.edit-container textarea 
{
    width: 90%;
    background-color: #FFFFFF;
    height: 190px;
}

.node-edit-container 
{
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}



#feedback-button
{
    position: fixed;
    top: 40%;
    left: -10px;
    
    background: none repeat scroll 0 0 #487698;
    border-bottom: 1px solid #333333;
    border-right: 1px solid #333333;
    border-left: 1px solid #FFFFFF;
    color: #FFFFFF;
    display: block;
    font-family: Arial,sans-serif;
    font-size: 17px;
    font-weight: 700;
    padding: 8px;
    text-decoration: none;
    height: 120px;
    width: 32px;
    
    border-radius: 0px 10px 10px 0px;
}

#feedback-button:hover
{
    left: -5px;
}

#feedback-button a
{
    color: #FFFFFF;
}

#current-mindmap-name
{
    padding-top: 10px;
}