@docear-blue: #073E6A;

.docear-test {background: @docear-blue; color: white;}

.navbar .brand.image {
    padding: 0px 20px;
}

#mindmap-container {
    height: 600px;
    position: relative;
    overflow: hidden;
    cursor: move;
    border: 1px solid #000000;
}

#mindmap-container #zoom-control {
    width: 50px;
    border: 1px dashed #000000;
    background-color: #EBEBEB;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 1;
    cursor: default;
    text-align: center;
}

.circle-button {
    padding: 10px;
    border: 5px solid #FFFFFF;
    font-weight: bold;
    font-size: 20px;
    background-color: #EEEEEE;
    border-radius: 30px 30px 30px 30px;
    cursor: pointer;
}


.mindmap-canvas{
    position: relative;
    background-color: rgb(235,235,235)
}


.minimap-viewport{
    background-color:rgba(120,120,120, 0.6); 
    position: absolute;
}

.minimap-canvas{
    position : absolute;
    background-color:rgba(190,190,190, 0.6);
    right: 1%;
    top: 1%;
    cursor: default;
}

.zoom-panel{
    position: absolute;
    left    : 1%;
    top     : 1%;
}

.minimap-viewport.highlight{
    background-color:rgba(200,120,120, 0.6); 
    cursor: default;
}

.mindmap-canvas .node {
    position: absolute;
}

.mindmap-canvas .node .inner-node {
    padding: 10px;
    border: thin solid black;
    border-radius: 30px ;
    display: inline-block;
    cursor: default;
    white-space: nowrap;
}
.mindmap-canvas .node .inner-node .action-fold,
.mindmap-canvas  .node .inner-node .controls {
    position: absolute;
    display: none;
}
.mindmap-canvas .node.right .inner-node .action-fold {
    right: -7px;
}
.mindmap-canvas .node.left .inner-node .action-fold {
    left: -7px;
}

.mindmap-canvas .node .inner-node:hover > .action-fold,
.mindmap-canvas .node.selected > .inner-node > .action-fold,
.mindmap-canvas .node .inner-node:hover > .controls,
.mindmap-canvas .node.selected > .inner-node > .controls {
    display: block;
}

.mindmap-canvas .node .children {
    position: absolute;
}

.mindmap-canvas .node.selected > .inner-node {
    background: green;
}

.mindmap-canvas .node .inner-node .controls {
    display: none;
    position: absolute;
    height: 12px;
    bottom: -6px;
    width: 42px;
    cursor: pointer;
}

.mindmap-canvas .node .inner-node .controls textarea{
    z-index: 3;
}

#mindmap-container.landing-page {
    height: 300px;
}



#help-menu {
    border: 1px dotted #CCCCCC;
}
#help-content h1 {
    font-size:32px;
}
#help-content h2 {
    font-size:24px;
}
#help-content h3 {
    font-size:16px;
}

/* IE 7 and 8 DropDown fix: https://github.com/twitter/bootstrap/issues/5102 */
.nav-collapse.collapse {
    height: auto !important;
    overflow: visible !important;
  }
  


.overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: #000000;
    opacity:0.0;
    filter:alpha(opacity=0); /* For IE8 and earlier */
}
.edit-container {
    position: absolute;
    border-radius: 30px;
    background-color: #FFFFFF;
    border: 3px solid green;
    opacity:0.0;
    filter:alpha(opacity=0); /* For IE8 and earlier */
    width: 300px;
    height: 250px;
}
.dummy-node-container {
    margin-top: 10px;
}
.edit-node-container textarea {
    width: 90%;
    background-color: #FFFFFF;
}
