@(credentialsForm: Form[models.frontend.Credentials])

@additionalJavaScripts() = {
<script src='@routes.Assets.at("javascripts/config.js")'></script>
<script src='@routes.Assets.at("javascripts/index.js")'></script>
<script src='@routes.Assets.at("javascripts/jsPlumbHandler.js")'></script>
}

@main("Login", additionalBodyClasses = "login-page", additionalBodyJavaScripts = additionalJavaScripts()) {

    <div class="row-fluid">
        <div class="span8">
            <div id="mindmap-container" class="landing-page">
                @mindMapContainer {
                }
            </div>
        </div>
        <div class="span4">
            <div data-spy="affix" data-offset-top="0" class="affix">
            @user.loginForm(credentialsForm)
            </div>
        </div>
    </div>
}