<script src="@routes.Application.javascriptRoutes"></script>
<script src='@routes.Assets.at("javascripts/underscore-min.js")'></script>
<script src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
<script src='@routes.Assets.at("javascripts/features.min.js")'></script>
<script src='@routes.Assets.at("javascripts/jquery-ui-1.8.23.min.js")'></script>
<script src='@routes.Assets.at("javascripts/jquery.mousewheel.min.js")'></script>
<script src='@routes.Assets.at("javascripts/mousetrap.min.js")'></script>
<script src='@routes.WebJarAssets.at(WebJarAssets.locate("js/bootstrap.min.js"))'></script>

<script src='@routes.Assets.at("javascripts/json2.js")'></script>
<script src='@routes.Assets.at("javascripts/backbone-min.js")'></script>
<script src='@routes.Assets.at("javascripts/jquery.transformAnimate.js")'></script>
<script src='@routes.Assets.at("javascripts/raphael-min.js")'></script>
@* the at sign and asterisks marks comments in templates

*@


@* TODO
   maybe the runtime version is sufficient to load for the browser: http://handlebarsjs.com/precompilation.html
   keep the full js to precompile with sbt/play
*@
<script src='@routes.Assets.at("javascripts/handlebars-min-1.0.beta.js")'></script>
<script src='@routes.Assets.at("javascripts/views/templates.pre.min.js")'></script>
@helper.requireJs(core = routes.Assets.at("javascripts/require.js").url, module = routes.Assets.at("javascripts/main").url)
<script src='@routes.Assets.at("javascripts/config.js")'></script>
<script src='@routes.Assets.at("javascripts/load.js")'></script>
<script src='@routes.Assets.at("javascripts/script.js")'></script>
<script src='@routes.Assets.at("javascripts/jquery.json-2.4.min.js")'></script>
<script src='@routes.Assets.at("javascripts/jquery.svg.min.js")'></script>
<script src='@routes.Assets.at("javascripts/jquery.svganim.min.js")'></script>