<script src="@routes.Application.javascriptRoutes"></script>
<script src='@routes.Assets.at("javascripts/underscore-min.js")'></script>
<script src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
<script src='@routes.Assets.at("javascripts/jquery-ui-1.8.23.min.js")'></script>
<script src='@routes.Assets.at("javascripts/jquery.hotkeys.js")'></script>
<script src='@routes.Assets.at("javascripts/jquery.mousewheel.min.js")'></script>
<script src='@routes.Assets.at("javascripts/mousetrap.min.js")'></script>
<script src='@routes.WebJarAssets.at(WebJarAssets.locate("js/bootstrap.min.js"))'></script>

<script src='@routes.Assets.at("javascripts/json2.js")'></script>
<script src='@routes.Assets.at("javascripts/backbone-min.js")'></script>
<script src='@routes.Assets.at("javascripts/jquery.transformAnimate.js")'></script>
<script src='@routes.Assets.at("javascripts/raphael-min.js")'></script>


@* TODO
   maybe the runtime version is sufficient to load for the browser: http://handlebarsjs.com/precompilation.html
   keep the full js to precompile with sbt/play
*@
<script src='@routes.Assets.at("javascripts/handlebars-min-1.0.beta.js")'></script>
@helper.requireJs(core = routes.WebJarAssets.at(WebJarAssets.locate("require.js")).url, module = routes.Assets.at("javascripts/main").url)

<script src='@routes.Assets.at("javascripts/requireSetup.js")'></script>
<script src='@routes.Assets.at("javascripts/jquery.json-2.4.min.js")'></script>
<script src='@routes.Assets.at("javascripts/jquery.svg.min.js")'></script>
<script src='@routes.Assets.at("javascripts/jquery.svganim.min.js")'></script>

<script src='@routes.Assets.at("javascripts/bootstrap-wysiwyg.js")'></script>