@(title: String, additionalBodyJavaScripts: Html = Html.empty, additionalBodyClasses: String = "")(content: Html)

@import play.api.Play
@import play.api.Play.current
@import controllers.featuretoggle.Feature.enabledFeatures
@import scala.collection.JavaConversions._

@menuItem(relativeUrl:String, label: => String, linkId: String = "", linkClass: String = "", onlyIf: Boolean = true, glyphicon: String = "") = {
    @if(onlyIf) {
        <li @if(relativeUrl == request.uri ) {class="active"}>
          @if(relativeUrl != null) {
            <a href="@relativeUrl" @if(linkId != "" ){id="@linkId"} class="@linkClass">
          }else{
            <div class="@linkClass" @if(linkId != "" ){id="@linkId"}>
          }
                @if(glyphicon != "") {<i class="@glyphicon icon-white"></i>}
                @label
          @if(relativeUrl != null) {
            </a>
          }else{
            </div>
          }
        </li>
    }
}

@simpleAlertFlash(divClass: String, flashKey: String) = {
    @flash.asScala.get(flashKey).map { message =>
        <div class="alert @divClass">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            @message
        </div>
    }
}

@implicitSession = @{session} @* makes isAuthenticated, @username and @usernameOption possible *@

<!DOCTYPE html>
<html lang="en">
<head>
	<!--
	    @Application.debugInfo().map { entry =>
	        @entry._1=@entry._2
	    }
	-->
    <meta charset="utf-8">
    <title>@title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))' rel="stylesheet">
    <!-- <link href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap-responsive.min.css"))' rel="stylesheet"> -->
    <link href='@routes.Assets.at("stylesheets/style.css")' rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body style="min-width: 1000px;" class='@("test-mode".when(Play.isTest)) @if(isAuthenticated){is-authenticated} else {is-not-authenticated} @additionalBodyClasses' data-application-features='@enabledFeatures.asScala.mkString(" ")'>

	@*<div class="navbar navbar-inverse navbar-static-top">
	<div class="navbar-inner">
		<a class="brand image" href="@controllers.routes.Application.index()"><img src="@routes.Assets.at("images/docear-beta-online.png")" alt="@Play.configuration.getString("application.name")"/></a>
		<ul class="nav">
			<li>test</li>
			<li>test2</li>
		</ul>
	</div>
	</div>*@
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="navbar-inner">
            <div class="menu-container">
                <a class="brand image" href="@controllers.routes.Application.index()"><img src="@routes.Assets.at("images/docear-beta-online.png")" alt="@Play.configuration.getString("application.name")"/></a>

                <div style="width: 300px;" class="nav nav-collapse collapse">
                    @if(isAuthenticated) {
                    <ul class="nav pull-left">
                        <li class="dropdown pull-left">
                          <a data-toggle="dropdown" class="dropdown-toggle" href="#" id="toggle-mindmap-select">Select MindMap <b class="caret"></b></a>
                          <ul class="dropdown-menu" id="select-mindmap" data-no-collapse="true">
                          </ul>
                        </li>
                    </ul>
                    }
                    <ul class="nav">
                        @menuItem("http://www.docear.org/imprint/", "Imprint")
                        @menuItem(controllers.routes.Application.index().url, "Login", linkClass="loginButton", onlyIf = !isAuthenticated)
                        @menuItem(controllers.routes.Application.help().url, "Help")
                    </ul>
                </div>
                <div class="nav pull-right">
                    <ul class="nav pull-right">
                        @menuItem(null, " ", linkId="current-mindmap-name", linkClass="no-link", onlyIf = isAuthenticated)
                        @if(controllers.featuretoggle.Feature.USER_PROFILE.isEnabled()) {
                            @menuItem(null, username, linkClass="no-link", onlyIf = isAuthenticated, glyphicon = "icon-user")
                        }
                        @menuItem(controllers.routes.User.logout.url, "Logout", linkClass="logoutButton", onlyIf = isAuthenticated, glyphicon = "icon-off")
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
    	@* EXACT PURPOSE *@
        @*@simpleAlertFlash("alert-block", "warning")
        @simpleAlertFlash("alert-error", "error")
        @simpleAlertFlash("alert-success", "success")
        @simpleAlertFlash("alert-info", "info")*@
        @content
        
        
        <div id="feedback-button"><a href="#feedbackDialog" class="feedback-button" data-toggle="modal"><img src="/assets/images/feedback.png" alt="feedback"/></a></div>
        @dialogs.feedback()
        <!--
        <footer>
            <p>
            &copy; @Play.configuration.getString("application.organization") 2013
            </p>
        </footer>
        -->

    </div> <!-- /container -->

    @javaScripts()
    @additionalBodyJavaScripts
    </body>
</html>

