@(content: Html)

<div id="mindmap-container">
    @content
    <div class="mindmap-closed-warning alert alert-block">
        <button type="button" class="close">&times;</button>
        <h4>Min map was closed!</h4>
        The mid map you are currently working on has been closed. This may happen as you or another user, whom you share your workspace with, deleted or moved the file in the workspace.
        <br />
        <button type="button" class="close pull-right">close</button>
    </div>
	<div class="server-warning alert alert-block">
        <button type="button" class="close">&times;</button>
        <h4>An error occured!</h4>
        <br />
        The server answered with the following message:
        <br />
        <b><span class="message type"></span></b> <span class="message content"></span>
        <br />
        <button type="button" class="close pull-right">close</button>
        <br />
    </div>
</div>