@import controllers.featuretoggle.Feature._

@menuItem(relativeUrl:String, label: => String, linkId: String = "", linkClass: String = "", onlyIf: Boolean = true, glyphicon: String = "") = {
    @if(onlyIf) {
        <li @if(relativeUrl == request.uri ) {class="active"}>
          @if(relativeUrl != null) {
            <a href="@relativeUrl" @if(linkId != "" ){id="@linkId"} class="@linkClass">
          }else{
            <div class="@linkClass" @if(linkId != "" ){id="@linkId"}>
          }
                @if(glyphicon != "") {<i class="@glyphicon icon-white"></i>}
                @label
          @if(relativeUrl != null) {
            </a>
          }else{
            </div>
          }
        </li>
    }
}
@implicitSession = @{session} @* makes isAuthenticated, @username and @usernameOption possible *@

@if(RIBBONS.isEnabled()) {

        <div id="ribbons">
            <div class="nav navbar nav-tabs">
            @if(isAuthenticated) {
                @if(controllers.routes.Application.help().url == request.uri ){
                   <ul class="nav nav-tabs pull-left">
                     <li class="ribbon-logo">
                       <a href="@controllers.routes.Application.index()"><img src="@routes.Assets.at("images/docear-beta-online.png")" /></a>
                     </li>
                     @menuItem(controllers.routes.Application.index().url, "Home")
                   </ul>
	            }else{
                   <ul class="nav nav-tabs pull-left ribbon-tabs">
                        <li class="ribbon-logo">
                          <a href="@controllers.routes.Application.index()"><img src="@routes.Assets.at("images/docear-beta-online.png")" /></a>
                        </li>
                        @if(RIBBON_GENERAL.isEnabled()) {
                        <li class="tab">
                          <a href="#ribbon-general">General</a>
                        </li>
                        }
                    </ul>
	            }
	            
                <ul class="nav pull-right">
                    @menuItem(null, " ", linkClass="current-mindmap-name no-link", onlyIf = isAuthenticated)
                    @if(controllers.featuretoggle.Feature.USER_PROFILE.isEnabled()) {
                        @menuItem("#profile/"+username, username, linkClass="", onlyIf = isAuthenticated, glyphicon = "icon-user")
                    }else{
                        @menuItem(null, username, linkClass="no-link", onlyIf = isAuthenticated, glyphicon = "icon-user")
                    }
                    @menuItem("http://www.docear.org/imprint/", "Imprint")
                    @menuItem(controllers.routes.Application.help().url, "Help")
                    @menuItem(controllers.routes.User.logout.url, "Logout", linkClass="logoutButton", onlyIf = isAuthenticated, glyphicon = "icon-off")
                </ul>
            }else{
                <ul class="nav nav-tabs pull-left ribbon-tabs">
                    <li class="ribbon-logo">
                      <a href="@controllers.routes.Application.index()"><img src="@routes.Assets.at("images/docear-beta-online.png")" /></a>
                    </li>
                </ul>
                    
                <ul class="nav">
                    @menuItem("http://www.docear.org/imprint/", "Imprint")
                    @menuItem(controllers.routes.Application.index().url, "Login", linkClass="loginButton", onlyIf = !isAuthenticated)
                    @menuItem(controllers.routes.Application.help().url, "Help")
                </ul>
            }
	            
            </div>
	    </div>
            
            @if(controllers.featuretoggle.Feature.RIBBON_GENERAL.isEnabled()) {
            <div id="ribbon-general" class="ribbon">
                <div class="ribbon-group pull-left editor-toolbar" data-target="#editor" data-role="editor-toolbar">
                  <div class="btn-group">
                      <a title="" data-toggle="dropdown" class="btn disabled dropdown-toggle" data-original-title="Font"><i class="icon-font"></i><b class="caret"></b></a>
                         <ul class="dropdown-menu">
                             <li><a style="font-family:'Serif'" data-edit="fontName Serif">Serif</a></li>
                             <li><a style="font-family:'Sans'" data-edit="fontName Sans">Sans</a></li>
                             <li><a style="font-family:'Arial'" data-edit="fontName Arial">Arial</a></li>
                             <li><a style="font-family:'Arial Black'" data-edit="fontName Arial Black">Arial Black</a></li>
                             <li><a style="font-family:'Courier'" data-edit="fontName Courier">Courier</a></li>
                             <li><a style="font-family:'Courier New'" data-edit="fontName Courier New">Courier New</a></li>
                             <li><a style="font-family:'Comic Sans MS'" data-edit="fontName Comic Sans MS">Comic Sans MS</a></li>
                             <li><a style="font-family:'Helvetica'" data-edit="fontName Helvetica">Helvetica</a></li>
                             <li><a style="font-family:'Impact'" data-edit="fontName Impact">Impact</a></li>
                             <li><a style="font-family:'Lucida Grande'" data-edit="fontName Lucida Grande">Lucida Grande</a></li>
                             <li><a style="font-family:'Lucida Sans'" data-edit="fontName Lucida Sans">Lucida Sans</a></li>
                             <li><a style="font-family:'Tahoma'" data-edit="fontName Tahoma">Tahoma</a></li>
                             <li><a style="font-family:'Times'" data-edit="fontName Times">Times</a></li>
                             <li><a style="font-family:'Times New Roman'" data-edit="fontName Times New Roman">Times New Roman</a></li>
                             <li><a style="font-family:'Verdana'" data-edit="fontName Verdana">Verdana</a></li>
                         </ul>
                  </div>
                                
                  <div class="btn-group">
                    <a title="" data-toggle="dropdown" class="btn disabled dropdown-toggle" data-original-title="Font Size"><i class="icon-text-height"></i>&nbsp;<b class="caret"></b></a>
                      <ul class="dropdown-menu">
                      <li><a data-edit="fontSize 5"><font size="5">Huge</font></a></li>
                      <li><a data-edit="fontSize 3"><font size="3">Normal</font></a></li>
                      <li><a data-edit="fontSize 1"><font size="1">Small</font></a></li>
                      </ul>
                  </div>
                  <div class="btn-group">
                    <a title="" data-edit="bold" class="btn disabled" data-original-title="Bold (Ctrl/Cmd+B)"><i class="icon-bold"></i></a>
                    <a title="" data-edit="italic" class="btn disabled" data-original-title="Italic (Ctrl/Cmd+I)"><i class="icon-italic"></i></a>
                    <a title="" data-edit="strikethrough" class="btn disabled" data-original-title="Strikethrough"><i class="icon-strikethrough"></i></a>
                    <a title="" data-edit="underline" class="btn disabled" data-original-title="Underline (Ctrl/Cmd+U)"><i class="icon-underline"></i></a>
                  </div>
                  <div class="btn-group">
                    <a title="" data-edit="outdent" class="btn disabled" data-original-title="Reduce indent (Shift+Tab)"><i class="icon-indent-left"></i></a>
                    <a title="" data-edit="indent" class="btn disabled" data-original-title="Indent (Tab)"><i class="icon-indent-right"></i></a>
                  </div>
                  <div class="btn-group">
                    <a title="" data-edit="justifyleft" class="btn disabled" data-original-title="Align Left (Ctrl/Cmd+L)"><i class="icon-align-left"></i></a>
                    <a title="" data-edit="justifycenter" class="btn disabled" data-original-title="Center (Ctrl/Cmd+E)"><i class="icon-align-center"></i></a>
                    <a title="" data-edit="justifyright" class="btn disabled" data-original-title="Align Right (Ctrl/Cmd+R)"><i class="icon-align-right"></i></a>
                    <a title="" data-edit="justifyfull" class="btn disabled" data-original-title="Justify (Ctrl/Cmd+J)"><i class="icon-align-justify"></i></a>
                  </div>
                  <div class="btn-group">
                    <a title="" data-edit="undo" class="btn disabled" data-original-title="Undo (Ctrl/Cmd+Z)"><i class="icon-undo"></i></a>
                    <a title="" data-edit="redo" class="btn disabled" data-original-title="Redo (Ctrl/Cmd+Y)"><i class="icon-repeat"></i></a>
                  </div>
                </div>
            </div>
            }
        </div>
}