@(message: String)

@main(message) {
<dl>
    <dt>jsplumb stores style information in JavaScript, that is hard to maintain</dt>
      <dd>use <code>cssForClass("css-class-name","background-color")</code></dd>

    <dt>If u wanna ckeck if an object was initialized</dt>
      <dd>use <code>typeof myObject != "undefined"</code></dd>

    <dt>Views can communicate via events (i.e. canvas throws and minimap catches)</dt>
      <dd>use <code>$el.trigger 'center'</code> to throw</dd>  
      <dd>and <code>events: 'center': -> myMethod</code> to listen to events</dd>    
</dl>


}